<div class="jumbotron jumbo-green">
  <div class="container">
    <h1>Welcome To Hagwon</h1>
    <h2>A personalized learning resource for everyone. Hagwon  offers a personalized learning dashboard that empower learners to study at their own track.</h2>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Courses</h2>
      <p>Most people are held back not by their innate ability, but by their mindset. We can all become better learners. We just need to build our brains in the right way.We provide 2,000 courses through Hagwon. We tackle math, science, computer programming, history, art history, economics, and more. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Tracks</h2>
      <p>Tracks are collection of courses. Without tracks, it's hard to know how effective your learning progress that has helped drive goal. All the courses have ratings,reviews and its own level. By Dragging courses, you can simply create your own tracks.  </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Create Your Own Track</h2>
      <p>Millions of students from all over the world, each with their own unique story, learn at their own pace on many learning platforms every single day.Take control of your learning by working on the skills you choose at your own pace.You can track your learning process and completion of each tracks.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
  </div>

  <hr>

  <footer class="container">
   <div id="row">
      <div class="col-xs-4 col-md-4  ">
          <a href="#"> Terms of Use </a></p>
      </div>
      <div class="col-xs-4 col-md-4  ">
          <a href="#"> Privacy Notice</a>
      </div>
      <div class="col-xs-4 col-md-4  ">
          <p>© Hagwon 2015. All Right Reserved</p>
      </div>
    </div>
  </footer>
</div>