<li data-id="<%= course.id %>" class="col-xs-12 col-md-12">
<div class="thumbnail course_box">
  <div><img class="logo center-block" src="<%= course.platform.logo_url %>" alt=""></div>
  <div><%= course.name %></div>
</div>
</li>