.jumbo-green {
  background: #2c3e50 !important;
  color: #ecf0f1 !important;
    text-shadow: 2px 2px black;

}

.navbar-default {
  margin: -2px;
  background-color: #34495e !important;
  height: 3em !important;
  padding-top: 0.3em;
  font-size: 1.5em;
}

.navbar a {
  color: #ecf0f1 !important;
}

.navbar-brand{
  font-size: 1.2em !important;
  margin-top: 0;
}

.navbar ul li {
  margin-left: 5px;
  border-left: 1px solid white;
}

.navbar a:hover {
  text-shadow: 1px 1px black;
}

